# === Terraform ===
*.tfstate
*.tfstate.backup
terraform.tfvars
terraform.tfvars.json
.crash.log
override.tf
override.tf.json
.terraform/
.terraform.lock.hcl

# === Ansible ===
*.retry
*.log
*.out
inventory
*.pem
*.key
*.pub
*.zip
.vagrant/
.ansible/
__pycache__/
*.pyc

# === Secrets / Keys ===
*.pem
*.key
*.pub
*.env

# === Editor/IDE Files ===
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db